@use 'variable';

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;800&display=swap');

#app {
    background-color: variable.$black;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
    color: white;
}

a.link {
    color: variable.$blue;
    transition: all 0.3s;

    &:hover {
        color: white;
    }
}

.input_hidden {
    position: fixed;
    top: -1000px;
    opacity: 0;
}

.invisible {
    visibility: hidden;
    opacity: 0;
}

// Block head style

.block-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block-head__text {
    opacity: 0.7;
}

.block-head__bts {
    display: flex;
    align-items: center;
}

.block-head__btn {
    color: variable.$black-white;
    height: 30px;
    width: 30px;
    padding: 0.25rem;

    &:hover {
        color: white;
        transition: color 0.3s;
    }
}

// Perfect scroll style

.ps .ps__thumb-y,
.ps .ps__thumb-x{
    background-color: variable.$black-white;
    width: 4px;
    right: 0;
}

.ps .ps__rail-y,
.ps .ps__rail-x {
    width: 8px;
    border-radius: 4px;

    &:hover,
    &:focus{
        width: 8px;
        background-color: variable.$gray;

        & > .ps__thumb-y,
        & > .ps__thumb-x {
            width: 8px;
        }
    }
}

// Animation style
.flicker {
    animation: flicker 0.8s ease infinite;
}

.rotate {
    animation: rotate 1s ease infinite forwards;
}

@keyframes flicker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
