$dark-grey: #191d1e;
$light-gray: #323337;
$gray: #28292d;
$black: #161719;
$black-white: #838383;
$blue: #43a0ff;
$yellow: #ffde6b;
$orange: #fa724a;
$green: #70cf97;
$red: #ff6370;
$violet: #725cff;

$hover-blue: #0A85FF;
$hover-red: #FF3344;
$hover-green: #47C27A;